---
import { languages } from "../i18n/ui";
import type { Language } from "../i18n/ui";

interface Props {
  title: string;
  description: string;
  lang: Language;
  image?: string;
}
const { title, description } = Astro.props;

const pathname = Astro.url.pathname;
const pathWithoutLang = pathname.replace(/^\/(en|de)/, "");
const enUrl = new URL(`/en${pathWithoutLang}`, Astro.site).href;
const deUrl = new URL(`/de${pathWithoutLang}`, Astro.site).href;
---
<title>{title}</title>
<meta name="description" content={description} />

<link rel="canonical" href={Astro.url.href} />

 <!-- hreflang alternate links -->
<link rel="alternate" hreflang="en" href={enUrl} />
<link rel="alternate" hreflang="de" href={deUrl} />
<link rel="alternate" hreflang="x-default" href={enUrl} />

<!-- Open Graph meta tags -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url.href} />
