---
import { getLangFromUrl } from '../i18n/utils';
import { ui } from '../i18n/ui';
import LanguagePicker from '../components/LanguagePicker.astro';
import SEO from "../components/SEO.astro";
const lang = getLangFromUrl(Astro.url);
const t = ui[lang];
const { frontmatter } = Astro.props;

import '@fontsource-variable/sn-pro/wght.css';
import '@fontsource-variable/eb-garamond/wght.css';
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/primary.css" />
    <meta name="generator" content={Astro.generator} />
    <SEO
            title={frontmatter.title}
            description={frontmatter.description}
            lang={frontmatter.lang}
        />
  </head>

  <body>
    <header class="site-header">
        <div class="header-row icon-cluster">
            <div class="logo">
                <a href={`/${lang}/`}>ZK</a>
            </div>
            <LanguagePicker />
        </div>

      <nav class="nav header-row">
        <ul class="nav-list">
          <li>
            <a
              href={`/${lang}/`}
              class={Astro.url.pathname === `/${lang}/` ? "active" : ""}
            >
              {t.nav.home}
            </a>
          </li>
          <li>
            <a href={`/cv/${lang}/cv.pdf`} target="_blank">
              {t.nav.cv}
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <slot />
    </main>
    <footer>
      <p> &copy Zoravar Singh Kalkat {new Date().getFullYear()} ·
        {t.footer.before}{" "}
        <a
          href="https://github.com/zorrotherelentless/astro-blog"
          target="_blank"
        >
          {t.footer.link}
        </a>{" "}
        {t.footer.after}
      </p>
    </footer>
  </body>
</html>
