---
import { getLangFromUrl } from '../i18n/utils';
import { ui } from '../i18n/ui';
import LanguagePicker from '../components/LanguagePicker.astro';
const lang = getLangFromUrl(Astro.url);
const t = ui[lang];

import '@fontsource-variable/sn-pro/wght.css';
import '@fontsource-variable/eb-garamond/wght.css';
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/primary.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Zoravar SK</title>
  </head>

  <body>
    <header class="site-header">
      <div class="logo">
        <a href={`/${lang}/`}>ZK</a>
      </div>

      <nav class="nav">
        <ul class="nav-list">
          <li>
            <a
              href={`/${lang}/`}
              class={Astro.url.pathname === `/${lang}/` ? "active" : ""}
            >
              {t.nav.home}
            </a>
          </li>
          <li>
            <a href={`/cv/cv-${lang}.pdf`} target="_blank">
              {t.nav.cv}
            </a>
          </li>
        </ul>
      </nav>
      <LanguagePicker />
    </header>

    <main class="container">
      <slot />
    </main>
    <footer>
      <p> &copy Zoravar Singh Kalkat {new Date().getFullYear()} ·
        {t.footer.before}{" "}
        <a
          href="https://github.com/zorrotheimpaler/astro-blog"
          target="_blank"
        >
          {t.footer.link}
        </a>{" "}
        {t.footer.after}
      </p>
    </footer>
  </body>
</html>
